.wrapper,
.disabled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 33vw;
  height: 25vh;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.main {
  width: 22.5vw;
  /* height: 25vh; */
  border-radius: 10px;
  box-shadow: 0px 0px 3px black;

  color: white;

  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
}

.shieldBar {
  position: absolute;
  bottom: 0;
  left: 0.9vw;
  width: 7vw;
  /* height: 1vh; */
}

.actions {
  overflow: hidden;
  border-radius: 10px;

  width: 6vw;
}

.imgWrapper {
  position: relative;
  flex: 1.5;
  overflow: hidden;
  margin-right: 1vw;
}

.img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.charParameters {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  flex: 0.8;
  display: flex;
  gap: 10px;
  /* justify-content: flex-end; */
  align-items: center;
}

.charClassSpecText,
.spec {
  font-size: 20px;
  width: 6vw;
}

.charClassSpecText {
  flex: 2
}

.spec {
  flex: 1;
}

.specImg {
  border-radius: 8px;
  overflow: hidden;
}

.comboPointsContainer {
  position: absolute;
}

.comboText {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 0.9em;
}

@media (max-width: 1600px) {
  .main {
    width: 22vw;
  }

  .actions {
    overflow: hidden;
    border-radius: 10px;

    width: 6.5vw;
  }
}