.main {
    display: flex;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    align-items: center;
    background-color: white;
}

.label {
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50px;
    color: black;
}

.max {
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    background-color: lightgray;

    position: relative;
}

.value {
    height: 100%;

    transition: 0.35s;
}

.valueText {
    position: absolute;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
}